@media only screen and (max-width: 768px) {
    .color-used{
        display: block;
    }
    .color-used .color{
        width: 100%;
    }
    .select-box select{
        width: 100%;
    }
    .BoxNumber .input-fields .form-group{
        width: 100%;
    }
    .BoxNumber .input-fields{
        display: block;
    }
}

@media only screen and (max-width: 576px){
    
}