.BoxNumber{
    
}
.Guidelines{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 50px;
    background: #ffffff;
    transition: 0.5s ease-in-out;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.Guidelines .viewbtn{
    background-color: #0056b5;
    color: #fff;
    border-radius: 4px;
    padding: 10px 14px;
    text-transform: uppercase;
    font-size: 14px;
}
.Bg-used .first-bg{
    background: #0056b5;
    height: 200px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Bg-used .second-bg{
    background: hsla(0,2%,89%,1);
    height: 200px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Bg-used .third-bg{
    background: #023e6b;
    height: 200px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-used{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.color-used .color{
    width: 150px;
    height: 80px;
    background: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.color-used .color-one{
    background: #0056b9;
}
.color-used .color-two{
    background: #343434;
}
.color-used .color-three{
    background: #414455;
}
.color-used .color-four{
    background: #616365;
}
.color-used .color-five{
    background: #6f6f6f;
}
.color-used .color-six{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
}

.btn-link a{
    background: none;
    color: #0056b9;
    text-transform: capitalize;
    font-size: 18px;
}
.select-box select{
    width: 30%;
    background-image: url(../Images/select.svg);
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 8px 10px;
    padding-right: 1.75rem;
    -webkit-appearance: none;
}

.BoxNumber .input-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BoxNumber .input-fields .form-group{
    width: 49%;
}

.check-form button{
    padding: 1px 10px;
    margin-left: 10px;
    border: 2px solid #0056b5;
    color: #fff;
    background: #0056b5;
    box-shadow: 2px 3px 8px #0056b5;
}
#demo{
   color: #b50303;
}

.Checkbox input{
    border: 2px solid red;
}
.breadcrumb{
    background: none;
}
.breadcrumb a{
    background: none;
    color: #0056b5;
    padding: 0;
}

#scrollToTopBtn {
    background: #5a99ca;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    width: 36px;
    height: 36px;
  }
div.heading-one div{
      font-size: 18px;
  }
div.heading-one div:nth-child(2){
      font-size: 16px;
      color: rebeccapurple;;
  }


/*---sidebar-navigation----*/
.SideBar{
    background: #EDEDED;
    width: 280px;
    height: 400px;
    overflow-y: auto;
    border-radius: 4px 4px 0 0;
}
.SideBar .menu .item{
	position: relative;
	cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.SideBar .menu .item a{
    color: #0056b5;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    line-height: 50px;
    text-align: left;
}
.SideBar .menu .item a i{
	margin-right: 15px;
}
.SideBar .menu .item a .dropdown{
	position: absolute;
	right: 0;
	margin: 15px;
	transition: 0.3s ease;
    font-size: 18px;
}
.SideBar .menu .item .sub-menu{
	background: #f9f9f9;
	display: none;
}
.SideBar .menu .item .sub-menu li{
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.rotate{
	transform: rotate(90deg);
}
/*---sidebar-navigation-end---*/

.product-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    border-left: 2px solid #0056b5;
    padding: 6px 0 6px 10px;
    color: #343434;
    background: #f7f7f7 url(../Images/stripe.png);
}
.product-detail span{
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    color: #0056b5;
}
/*----*/

/*---Product header---*/

.hidden-hoverReveal {
    display: none;
}
.active-hoverReveal{
    display: block;
}
#child-pages-section .col {
    margin-left: 20px;
}
#child-pages-section img{
    width: 16px;
    height: 16px;
}
#child-pages-section p{
    font-size: 14px;
    line-height: 25px;
    margin: 0;
}
h6.parent.hoverReveal1.active-parent, h6.parent.hoverReveal2.active-parent, h6.parent.hoverReveal3.active-parent {
    background: #0056B9;
    transition: 0.5s ease-in-out;
}
.active-parent {
    position: relative; 
    padding-left: 10px;
    color: #fff !important;
    z-index: 1; 
    right: 0;
    background: red;
}
.active-parent::before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0,90,188,0);
    border-right-color: #0056B9;
    border-width: 10px;
    margin-top: -12px;
    transition: 2s ease-in-out;
}

.Icons-Wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #0056B9;
    font-size: 14px;
    cursor: pointer;
    background: #f9f9f9;
    width: 100%;
    padding: 10px 0;
}
.wrapper1, .wrapper2, .wrapper3{
    width: 100%;
    height: 300px;
    padding: 0;
}
.wrapper2 a{
    margin-top: 30px;
    display: block;
}
#child-pages-section .wrapper2 img.meter, #child-pages-section .wrapper3 img.meter {
    width: 85%;
    height: 85%;
    object-fit: cover;
}


/*---Tabs---*/

.tabs-names{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../Images/stripe.png);
    width: 82%;
    position: relative;
    left: 7%;
    padding: 8px 10px;
}
#div2, #div3, #div4, #div5, #div6{
    display: none;
}
.targetDiv .tabs-feature{
    display: block;
    font-size: 18px;
    color: #000;
    padding-bottom: 7px;
}
.targetDiv .tabs-feature.ones{
    font-size: 24px;
}
div.targetDiv{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    background: #EDEDED;
    border-radius: 0 0 4px 4px;
    box-shadow: 3px 3px 7px #ccc;
  }
.dropdown-menu a:hover{
    color: #0056B9;
}
.dropdown:hover>.dropdown-menu::after{
    right: 50%;
    top: -14%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0,90,188,0);
    border-right-color: #EDEDED;
    border-width: 10px;
    transform: rotate(90deg);
}

